body {
    margin: 0;
    padding: 0;
    
    background-image: url(img/barbershop-index.png);
    background-position: top;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
/*    color: #ffffff;*/
    text-transform: uppercase;
}

img {
    max-height: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: center;
    
    margin-bottom: 60px;
    
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    
    background-color: #000000;
}

.top-container {
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.top-links {
    min-height: 70px;
}

.top ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.top a{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.top a:hover{
    background-color: #242424;
}

.top  li{
    list-style: none;
}

.top-user {
    outline: 2px solid green;
    padding-left: 10px;
    background: rgba(234, 255, 45, 0.2);
    position: relative;
}


.top-user::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 16px;
    height: 18px;
    background-color: red;
}

.container {
    outline: 2px solid magenta;
    width: 940px;
    margin: 0px auto;
/*    display: flex;*/
/*    justify-content: space-between;*/
}

.logo {
    outline: 3px solid aqua;
    width: 368px;
    height: 153px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.benefits {
    margin-bottom: 85px;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.benefits-item {
    outline: 2px solid green;
    width: 300px;
    min-height: 165px;
    
    text-align: center;
    font-size: 14px;
}

.benefits-name {
    font-size: 30px;
    
}

.index-content {
    outline: 4px solid pink;
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}

.index-content-left {
    outline: 2px solid green;
    width: 380px;
    
}

.index-content-right {
    outline: 2px solid green;
    width: 300px;
}
