body {
    margin: 0;
    padding: 0;
    
    background-image: url(img/bg.jpg);
    background-position: top;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

img {
    max-height: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: center;
    
    margin-bottom: 49px;
    
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    
    background-color: #000000;
}

.top-container {
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.top-links {
    min-height: 70px;
}

.top ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.top a{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.top a:hover{
    background-color: #242424;
}

.top  li{
    list-style: none;
}

.top-user {

}

a.login {
    position: relative;
    padding-left: 50px;
}

.login::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 26px;
    width: 16px;
    height: 18px;
    background-image:url(img/login.svg);
    background-repeat: no-repeat;
    background-position: 0,0;
    opacity: 0.3;
}

.login:hover::before,
.login:focus::before,
.login:active::before {
    opacity: 1;
}

.container {
    width: 940px;
    margin: 0px auto;
}

.logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 29px;
}

.benefits {
    margin-bottom: 80px;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.benefits-item {
    width: 300px;
    min-height: 165px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.benefits-item p{
    margin: 0 10px;
    padding: 0;
    vertical-align: top;
}

.benefits-name {
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-bottom: 80px;
}

.benefits-name::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #ffffff;
}

.index-content {
    display: flex;
    justify-content: space-between;
    
    min-height: 330px;
    padding: 50px 80px;
    margin-bottom: 35px;
    
    background-color: #f7f4f1;
    background-image:
        url(img/box-shadow.png),
        url(img/bg-pattern-light.jpg);
    background-position: center, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.index-content-title {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 35px;
    
}

.index-content-left {
    width: 330px;
}

.index-content-right {
    width: 300px;
}

.news-preview {
    padding-left: 0px;
    margin-bottom: 20px;
    list-style: none;
}

.news-preview time {
    text-transform: none;
    margin-bottom: 20px;
    list-style: none;
    font-weight: 400;
}

.index-content p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.gallery-box {
    position: relative;
    height: 250px;
}

.gallery-prev,
.gallery-next {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    
    width: 135px;
    margin: 0;
}

button.gallery-prev {
    left: 0;
    margin-right: 0;
}

button.gallery-next {
    right: 0;
    margin-right: 0;
}

.gallery-content {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 37px;
}

.gallery-content img {
    margin: 0 auto;
    height: 164px;
    border: 7px solid #ffffff;
}

p.contacts {
    width: 300px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;
    
    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #000000;
    border: none;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-flex input{
    box-sizing: border-box;
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 19px;
    
    font: inherit;
    text-transform: uppercase;
    
    border: 2px solid #000000;
}

.form-flex .btn{
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
}

p.in-form {
    margin-top: 0;
    margin-bottom: 25px;
}

.footer {
    margin-top: 60px;
    padding-top: 1px;
    min-height: 190px;
    background-image: url(img/bg-pattern-dark.jpg);
    background-color: #333333;
    
    color: #ffffff;
    
}

.footer .container {
    display: flex;
    justify-content:space-between;
    margin-top: 61px;
}

.address a{
    color: #ffffff;
    text-decoration: underline;
}

.address p{
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: top;
}

.developer,
.social {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    width: 141px;
}

.social {
    margin-right: 60px;
}

.developer b,
.social b {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    line-height: 14px;
}

.social a {
    display: block;
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.social a:hover {
    background-color: white;
}

a.vk {
    background-image: url(img/vk_white.svg);
}

a.vk:hover {
    background-image: url(img/vk_black.svg);
}

a.fb {
    background-image: url(img/facebook_white.svg);
}

a.fb:hover {
    background-image: url(img/facebook_black.svg);
}

a.inst {
    background-image: url(img/instagram_white.svg);
}

a.inst:hover {
    background-image: url(img/instagram_black.svg);
}

.developer a {
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    color: #ffffff;
    background-color: black;
}

.developer a:hover {
    color: #000000;
    background-color: white;
}
